.topnav{
    background-color: black;
    color : white;   
 }
 .heading{
    margin: 0;
    margin-top: 3;
 }
 img{
    margin: 16;
 }
.UL{
    padding: 0.5;
  
  
}
.OL{
    padding: 0.5;

}
.h1{
    margin-top: 1cm;
}